<div class="page-header">
  <h1>
    Departure airports
    <a href="/departure_airports/new" class="btn btn-lg btn-success">New Departure airport</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Airport name</th>
        <th>Departure city</th>
        <th>Actions</th>
      </tr>

      <% @departure_airports.each do |departure_airport| %>
      <tr>
        <td><%= departure_airport.airport_name %></td>
        <td><%= departure_airport.departure_city %></td>
        <td>
          <a href="/departure_airports/<%= departure_airport.id %>" class="btn btn-primary">Show</a>
          <a href="/departure_airports/<%= departure_airport.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_departure_airport/<%= departure_airport.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @departure_airports, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
