<div class="page-header">
  <h3>Departure Airport #<%= @departure_airport.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Airport name</dt>
      <dd><%= @departure_airport.airport_name %></dd>

      <dt>Departure city</dt>
      <dd><%= @departure_airport.departure_city %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/departure_airports" class="btn btn-primary">
        Back
      </a>
      <a href="/departure_airports/<%= @departure_airport.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_departure_airport/<%= @departure_airport.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Departure airport has many flights -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Flights
      </li>

      <% @departure_airport.flights.each do |flight| %>
        <li class="list-group-item">
          <a href="/flights/<%= flight.id %>">
            <%= flight.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/flights/<%= flight.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/flights/<%= flight.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_flight/<%= flight.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_flight" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for departure_city_id -->
      <div class="form-group">
        <label for="departure_city_id" class="control-label">
          Departure city
        </label>

        <%= select_tag(:departure_city_id, options_from_collection_for_select(DestinationAirport.all, :id, :airport_name), :class => "form-control") %>
      </div>

      <!-- Label and input for destination_airport_id -->
      <div class="form-group">
        <label for="destination_airport_id" class="control-label">
          Destination airport
        </label>

        <%= select_tag(:destination_airport_id, options_from_collection_for_select(DepartureAirport.all, :id, :airport_name), :class => "form-control") %>
      </div>

      <!-- Label and input for airline_id -->
      <div class="form-group">
        <label for="airline_id" class="control-label">
          Airline
        </label>

        <%= select_tag(:airline_id, options_from_collection_for_select(AirlineCarrier.all, :id, :airline_name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Flight
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
