<div class="page-header">
  <h3>Flight Route #<%= @flight_route.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Route</dt>
      <dd>
        <% if @flight_route.route.present? %>
          <a href="/routes/<%= @flight_route.route_id %>">
            <%= @flight_route.route.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Airline</dt>
      <dd>
        <% if @flight_route.airline.present? %>
          <a href="/airline_carriers/<%= @flight_route.airline_id %>">
            <%= @flight_route.airline.airline_name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/flight_routes" class="btn btn-primary">
        Back
      </a>
      <a href="/flight_routes/<%= @flight_route.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_flight_route/<%= @flight_route.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Flight route has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @flight_route.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_review" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="">
      </div>

      <!-- Label and input for flight_route_id -->
      <div class="form-group">
        <label for="flight_route_id" class="control-label">
          Flight route
        </label>

        <%= select_tag(:flight_route_id, options_from_collection_for_select(FlightRoute.all, :id, :route_id), :class => "form-control") %>
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Review
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
