<!-- Validation failure messages -->
<% if @flight.errors.any? %>
  <% @flight.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Flight #<%= @flight.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_flight/<%= @flight.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for destination_city_id -->
      <div class="form-group">
        <label for="destination_city_id" class="control-label">
          Destination city
        </label>

        <%= select_tag(:destination_city_id, options_from_collection_for_select(DestinationCity.all, :id, :created_at, @flight.destination_city_id), :class => "form-control") %>
      </div>

      <!-- Label and input for departure_city_id -->
      <div class="form-group">
        <label for="departure_city_id" class="control-label">
          Departure city
        </label>

        <%= select_tag(:departure_city_id, options_from_collection_for_select(DepartureCity.all, :id, :created_at, @flight.departure_city_id), :class => "form-control") %>
      </div>

      <!-- Label and input for destination_airport_id -->
      <div class="form-group">
        <label for="destination_airport_id" class="control-label">
          Destination airport
        </label>

        <input type="text" id="destination_airport_id" name="destination_airport_id" placeholder="Destination airport" class="form-control" value="<%= @flight.destination_airport_id %>">
      </div>

      <!-- Label and input for departure_airport_id -->
      <div class="form-group">
        <label for="departure_airport_id" class="control-label">
          Departure airport
        </label>

        <input type="text" id="departure_airport_id" name="departure_airport_id" placeholder="Departure airport" class="form-control" value="<%= @flight.departure_airport_id %>">
      </div>

      <!-- Label and input for airline_id -->
      <div class="form-group">
        <label for="airline_id" class="control-label">
          Airline
        </label>

        <input type="text" id="airline_id" name="airline_id" placeholder="Airline" class="form-control" value="<%= @flight.airline_id %>">
      </div>

      <button class="btn btn-warning">
        Update Flight
      </button>
      or
      <a href="/flights/<%= @flight.id %>">Cancel</a>
    </form>
  </div>
</div>
