<div class="page-header">
  <h1>
    Flights
    <a href="/flights/new" class="btn btn-lg btn-success">New Flight</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "flights_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :airline_airline_name_cont, "AirlineCarrier airline_name contains" %>
      <%= f.text_field :airline_airline_name_cont, :class => "form-control", :placeholder => "AirlineCarrier airline_name contains" %>
    </div>

<div class="form-group">
      <%= f.label :departure_city_airport_name_cont, "DestinationAirport airport_name contains" %>
      <%= f.text_field :departure_city_airport_name_cont, :class => "form-control", :placeholder => "DestinationAirport airport_name contains" %>
    </div>

<div class="form-group">
      <%= f.label :destination_airport_airport_name_cont, "DepartureAirport airport_name contains" %>
      <%= f.text_field :destination_airport_airport_name_cont, :class => "form-control", :placeholder => "DepartureAirport airport_name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/flights" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#flights_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Departure city</th>
        <th>Destination airport</th>
        <th>Airline</th>
        <th>Actions</th>
      </tr>

      <% @flights.each do |flight| %>
      <tr>
        <td>
          <% if flight.departure_city.present? %>
            <a href="/destination_airports/<%= flight.departure_city.id %>">
              <%= flight.departure_city.airport_name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if flight.destination_airport.present? %>
            <a href="/departure_airports/<%= flight.destination_airport.id %>">
              <%= flight.destination_airport.airport_name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if flight.airline.present? %>
            <a href="/airline_carriers/<%= flight.airline.id %>">
              <%= flight.airline.airline_name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/flights/<%= flight.id %>" class="btn btn-primary">Show</a>
          <a href="/flights/<%= flight.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_flight/<%= flight.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @flights, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
