<!-- Validation failure messages -->
<% if @flight.errors.any? %>
  <% @flight.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Flight</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_flight" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for departure_city_id -->
      <div class="form-group">
        <label for="departure_city_id" class="control-label">
          Departure city
        </label>

        <%= select_tag(:departure_city_id, options_from_collection_for_select(DestinationAirport.all, :id, :created_at, @flight.departure_city_id), :class => "form-control") %>
      </div>

      <!-- Label and input for destination_airport_id -->
      <div class="form-group">
        <label for="destination_airport_id" class="control-label">
          Destination airport
        </label>

        <%= select_tag(:destination_airport_id, options_from_collection_for_select(DepartureAirport.all, :id, :created_at, @flight.destination_airport_id), :class => "form-control") %>
      </div>

      <!-- Label and input for airline_id -->
      <div class="form-group">
        <label for="airline_id" class="control-label">
          Airline
        </label>

        <%= select_tag(:airline_id, options_from_collection_for_select(AirlineCarrier.all, :id, :created_at, @flight.airline_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Flight
      </button>
      or
      <a href="/flights">Cancel</a>
    </form>
  </div>
</div>
