<div class="page-header">
  <h3>Flight #<%= @flight.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Destination city</dt>
      <dd><%= @flight.destination_city_id %></dd>

      <dt>Departure city</dt>
      <dd><%= @flight.departure_city_id %></dd>

      <dt>Destination airport</dt>
      <dd><%= @flight.destination_airport_id %></dd>

      <dt>Departure airport</dt>
      <dd><%= @flight.departure_airport_id %></dd>

      <dt>Airline</dt>
      <dd><%= @flight.airline_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/flights" class="btn btn-primary">
        Back
      </a>
      <a href="/flights/<%= @flight.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_flight/<%= @flight.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Flight has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @flight.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_review" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for flight_id -->
      <input type="hidden" name="flight_id" value="<%= @flight.id %>">

      <button class="btn btn-block btn-success">
        Create Review
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
