<div class="page-header">
  <h3>Airline Carrier #<%= @airline_carrier.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/airline_carriers" class="btn btn-primary">
        Back
      </a>
      <a href="/airline_carriers/<%= @airline_carrier.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_airline_carrier/<%= @airline_carrier.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Airline carrier has many flights -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Flights
      </li>

      <% @airline_carrier.flights.each do |flight| %>
        <li class="list-group-item">
          <a href="/flights/<%= flight.id %>">
            <%= flight.destination_city_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/flights/<%= flight.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/flights/<%= flight.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_flight/<%= flight.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
