<!-- Validation failure messages -->
<% if @destination_airport.errors.any? %>
  <% @destination_airport.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Destination Airport #<%= @destination_airport.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_destination_airport/<%= @destination_airport.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for airport_name -->
      <div class="form-group">
        <label for="airport_name" class="control-label">
          Airport name
        </label>

        <input type="text" id="airport_name" name="airport_name" placeholder="Airport name" class="form-control" value="<%= @destination_airport.airport_name %>">
      </div>

      <!-- Label and input for destination_city -->
      <div class="form-group">
        <label for="destination_city" class="control-label">
          Destination city
        </label>

        <input type="text" id="destination_city" name="destination_city" placeholder="Destination city" class="form-control" value="<%= @destination_airport.destination_city %>">
      </div>

      <button class="btn btn-warning">
        Update Destination Airport
      </button>
      or
      <a href="/destination_airports/<%= @destination_airport.id %>">Cancel</a>
    </form>
  </div>
</div>
