<div class="page-header">
  <h3>Route #<%= @route.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Departure airport</dt>
      <dd><%= @route.departure_airport %></dd>

      <dt>Destination airport</dt>
      <dd><%= @route.destination_airport %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/routes" class="btn btn-primary">
        Back
      </a>
      <a href="/routes/<%= @route.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_route/<%= @route.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Route has many flight_routes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Flight Routes
      </li>

      <% @route.flight_routes.each do |flight_route| %>
        <li class="list-group-item">
          <a href="/flight_routes/<%= flight_route.id %>">
            <%= flight_route.route_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/flight_routes/<%= flight_route.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/flight_routes/<%= flight_route.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_flight_route/<%= flight_route.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_flight_route" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for route_id -->
      <input type="hidden" name="route_id" value="<%= @route.id %>">

      <!-- Label and input for airline_id -->
      <div class="form-group">
        <label for="airline_id" class="control-label">
          Airline
        </label>

        <%= select_tag(:airline_id, options_from_collection_for_select(AirlineCarrier.all, :id, :airline_name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Flight Route
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
